@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.container-card {
    height: 40vh;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Ubuntu', 'sans-serif';
    color:#748E54;
    border: 2px solid black;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.card-btn {
    border-radius: 15px;
}

.card-media  {
    height: 35vh;
    border-radius: 15px;
}



.card-actions {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    align-items: center;
    overflow-y: hidden;
}

.add-cart {
    stroke: #748E54;
}

.card-actions p {
    font-size: small;
    text-align: end;
}

.card-content {
    background-color: transparent;
    padding: 10px;
    overflow-y: hidden;
}

.grid-container {
    padding-right: 5vw;
    padding-left: 5vw
}