@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.container-card {
    height: 40vh;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Ubuntu', 'sans-serif';
    color:#748E54;
    border: 2px solid black;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.container-card:hover {
    background-color: #ffffff5c;
    cursor: pointer;
    color :#a6bb8d
}

.card-media  {
    flex-grow: 2;
    border-radius: 15px;
}



.card-actions {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
}

.add-cart {
    stroke: #748E54;
}

.card-content {
    flex-grow: 0;
    background-color: transparent;
    padding: 10px;
    overflow-y: hidden;
}

.grid-container {
    padding-right: 5vw;
    padding-left: 5vw
}