@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



* {
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000000e0, #00000039),url("./assets/venus.jpg") ;
  background-size: cover ;
  background-position: 0% 30%;
  background-color: #121212;
  font-family: 'Ubuntu';
}

.navigation {
  display : flex;
  justify-content : center;
  position : fixed;
  width : 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  height : 10vh;
  top: 0;
}

.navigation-items, .navigation-links {
  display : flex;
}

.navigation-items {
  justify-content : space-between;
  width : 95%;
  align-items : center;
  overflow-y: hidden;
  padding: 5px;
}

.navigation-links {
  justify-content : space-around;
  width : 15vw;
  align-items : center;
}

.navigation-links a, .logo {
  text-decoration: none;
  color : #748E54;
  font-family: 'Lobster', 'cursive'; 
  font-size : 20px;
}

.navigation-links a:hover {
  text-decoration : underline;
}

.logo {
  margin-right : 380px
}

/* ---------------------------------------------- HERO SECTION ------------------------------------------------ */

.section {
  display : flex;
  justify-content : center;
  margin-top : 7vh;
  flex-direction: column;
  align-items: center;
  /* border-bottom : 1px solid #18534f; */
  padding-bottom : 100px
}

.hero {
  display : flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height : 90vh;
  width : 100%;
  padding : 50px;
  /* font-family: 'Playfair Display', serif; */
  margin-bottom: 80px;
  font-family: 'Lobster', cursive;
}

.hero h1 {
  color : #748E54;
  font-weight: 200;
  font-size : 70px;
  padding-top: 20vh;
  text-shadow: #121212 5px 5px 5px;
}

.newsletter h2 {
  color : #748E54;
  font-weight: 100;
  font-size : 50px;
  text-shadow: #121212 5px 5px 5px;
}

.hero span {
  background-color: #748E54;
  width : 200px;
  align-self : center;
  padding : 15px;
  border-radius: 20px;
  color : #371D0C;
  font-family : 'Lobster', serif;
  font-size : 25px;
}

.hero span:hover {
  cursor: pointer;
  background-color: #455532;
}

.categories {
  display : grid;
  justify-content:space-evenly ;
  width : 80%;
  margin-top: 30px;
  grid-template-columns: 10vw repeat(3, 20vw);
  align-items: center;
}

.categories h2 {
  font-family : 'Lobster', serif;
  color : #455532;
  text-align: center;
  font-weight: 100;
  text-decoration: underline;
}

.Affichage {
  display : flex;
  height : 400px;
  text-align : center;
  padding :  120px 0
}

.box {
  display : flex;
  /* width : 300px; */
  height : 300px;
  background-color: #18534f;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom : 25px;
}

.box:hover, .categories h2:hover {
  cursor: pointer;
}

.box span {
  display : flex;
  flex-direction: row;
  height : 70px;
  align-items: center;
  background-color: #fdf4edcf;
  width : 100%;
  justify-content : space-between;
  padding : 25px;
  visibility: hidden;
}

.box:hover span{
  visibility: visible;
}

.styl {
  background-image: url('./assets/style.jpg');
  background-size: cover;
}

.util {
  background-image: url('./assets/utilisation.jpg');
  background-size: cover;
}

.type {
  background-image: url('./assets/type.jpg');
  background-size: cover;
  background-position: 0;
}


/* ------------------------------------------------ PRODUCT SECTION -------------------------------------------------------------------- */

.produits-section{
  display : flex;
  justify-content: center;
}

.produits{
  display : grid;
  grid-template-areas: "a a a";
  gap : 80px
}

/* ------------------------------------------------ NEWSLETTER SECTION ----------------------------------------------------------------- */

.newsletter {
  display : flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  margin-bottom : 25px;
  width : 80%;
  height : 500px;
  background-image: linear-gradient(to bottom, #17150fc5, #655d4200),;
  background-position: 0;
  background-size: cover;
  border-radius : 5px;
  padding : 20px;
}

.newsletter input {
  width : 50%;
  align-self: center;
  padding : 10px;
  font-size : 20px;
  margin-top : 60px;
  border-radius: 20px;
  border : none;
  text-align: center;
}

.newsletter button {
  width : 150px;
  align-self: center;
  margin-bottom : 40px;
  padding : 10px 25px;
  font-size: 20px;
  font-family: 'Lobster', serif;
  background-color : #ecf8f6;
  color: #18534f;
  border : none;
  border-radius: 20px;
}

.newsletter button:hover {
  cursor: pointer;
  background-color: #c0cbc9;
}

.arrow {
  width : 35px;
  stroke :#475734;
  stroke-width : 2
}

.footer .arrow {
  margin-bottom: 10px;
  visibility: hidden
}

.footer {
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  gap: 5vw;
  margin : 20px 10px 0 20px;
  color: #748E54
}