@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

:root {
  --primary: #454411;
  --secondary: #a7a376;
  --white: hsl(0, 0%, 95%);
  --mainfont: 'Abhaya Libre', serif
}

* {
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  font-family: var(--mainfont);
}


.navigation {
  display : flex;
  justify-content : center; 
  position : fixed;
  width : 100%;
  background-color: var(--secondary);
  height : 10vh;
  top: 0;
  z-index: 1;
}

.navigation-items, .navigation-links {
  display : flex;
}

.navigation-items {
  justify-content : space-between;
  width : 95vw;
  align-items : center;
  overflow-y: hidden;
  padding: 5px;
  justify-self: center;
}

.navigation-links {
  justify-content : space-around;
  min-width : 15vw;
  align-items : center;
}

@media (width < 900px) {
  .navigation-links {
    flex-direction: column;
    height: 8vh
  }
}

.navigation-links a {
  color : var(--primary);
  font-family: var(--mainfont);
  font-size : 20px;
  text-decoration: none;
  transition: all 2s ease-in-out;
}

.navigation-links a:hover {
  text-decoration : underline;
}

.logo {
  margin-right: 30vw;
  margin-left: 20vw;
}

/* ---------------------------------------------- HERO SECTION ------------------------------------------------ */

.section {
  display : flex;
  justify-content : center;
  margin-top : 10vh;
  flex-direction: column;
  align-items: center;
}

.hero {
  display : flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height : 90vh;
  width : 100%;
  padding : 50px;
}

h1 {
  color : var(--primary);
  font-weight: 800;
  font-size : 70px;
  text-shadow: black 1px 2px 4px;
}

.newsletter h2 {
  color : var(--primary);
  font-weight: 100;
  font-size : 50px;
  text-shadow: black 0px 1px 3px;
}

.hero span {
  border: 2px solid var(--secondary);
  width : 200px;
  align-self : center;
  padding : 15px;
  border-radius: 20px;
  color : var(--primary);
  font-size : 25px;
  font-weight: bold;
}

.hero span:hover {
  cursor: pointer;
  color: var(--secondary);
  border: 2px solid var(--primary);
}

.separation {
  border-top: 1px solid var(--secondary) 
}

.bestsellers-title {
  text-align: center;
  font-size: 2.15em;
  font-weight: 800;
  color: var(--primary);
  font-family: var(--mainfont);
  text-shadow: 1px 0px 2px black; 
}

.bestsellers-box {
  display: flex;
  justify-content: center;
  gap: 3vw;
  border-bottom: 1px solid var(--secondary);
}

.bestseller-item {
  height: 40vh;
  display: flex;
  align-items: center;
  width: 16vw;
}

.bestseller-item .container-card {
  width: 15vw;
  height: 35vh;
  text-align: start;
}

/* ------------------------------------------------ NEWSLETTER SECTION ----------------------------------------------------------------- */

.newsletter {
  display : flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  margin-bottom : 25px;
  width : 90%;
  height : 500px;
  border: 2px solid var(--secondary);
  border-radius : 5px;
  padding : 20px;
}

.newsletter input {
  width : 50%;
  align-self: center;
  padding : 10px;
  font-size : 20px;
  margin-top : 60px;
  border-radius: 20px;
  border : none;
  text-align: center;
}

.newsletter button {
  width : 150px;
  align-self: center;
  margin-bottom : 40px;
  padding : 10px 25px;
  font-size: 20px;
  font-family: 'Lobster', serif;
  background-color : var(--secondary);
  color: var(--primary);
  border : none;
  border-radius: 20px;
  transition: all .3s ease-in-out;
}

.newsletter button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary)
}

.newsletter button:active {
  transform: translateY(10%)
}

.arrow {
  width : 35px;
  stroke :#475734;
  stroke-width : 2
}

.footer .arrow {
  margin-bottom: 10px;
  visibility: hidden
}

.footer {
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  gap: 5vw;
  margin : 20px 10px 0 20px;
  color: #748E54
}


/* ----------------------------------- ABOUT SECTION ------------------------------------------------------------- */

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 93vh;
  align-items: center;
  padding-top: 5vh
}

.title {
  justify-self: flex-start;
}

.presentation {
  display: flex;
  justify-content: flex-start;
  color: #748E54;
  width: 85vw;
  margin-top: 15vh;
  gap: 5vw
}

.portrait {
  background-image: url("./assets/portrait.jpg");
  background-size: cover;
  background-position: 0;
  height: 60vh;
  width:25vw ;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 10px black;

}

.portrait-nom {
  background-color: hsl(0, 0%, 0%, 80%);
  align-self: flex-end;
  padding: 10px;
  width: 100%
}


.presentation-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
  width: 60vw
}

.subtitle {
  font-size: 2.8em;
  text-shadow: 2px 2px 5px black;
}

.paragraph {
  font-size: 1.25em;
  text-shadow: 2px 2px 5px black;

}